
{% unless grid_image_width %}
  {%- assign grid_image_width = '600x600' -%}
{% endunless %}

<div class="grid-view-item{% unless product.available %} product-price--sold-out grid-view-item--sold-out{% endunless %}" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="product-container">
   <div class="collection-product-overlay">
  <a class="grid-view-item__link" href="{{ product.url | within: collection }}">
    {% if section.settings.product_images_ratio != "none" %}
    <div class="image-bar__item box ratio-container lazyload product-grid-image"
               data-bgset="{% include 'bgset', image: product.featured_image %}"
               data-sizes="auto"
               data-parent-fit="contain"
         style="  background-size: contain;    background-color: transparent; background-attached:fixed; background-position: center; background-image: url('{{ product.featured_image.src | img_url: grid_image_width }});"></div>
	<div style="display:none;" id="product-image-align">true</div>
   	<div style="display:none;" id="product-image-ratio">{{ section.settings.product_images_ratio }}</div>
    {% else %}
   	<div style="display:none;" id="product-image-align">false</div>
    <div style="display:none;" id="product-image-ratio">{{ section.settings.product_images_ratio }}</div>
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: grid_image_width }}" alt="{{ product.featured_image.alt }}">
    {% endif %}
    <div style="padding-top:10px;" class="h4 grid-view-item__title collection-title_wrapper">{{ product.title }}</div>
    {% if section.settings.show_vendor %}
      <div class="grid-view-item__vendor collection-title_wrapper">{{ product.vendor }}</div>
    {% endif %}
    
    <div class='jdgm-widget jdgm-preview-badge ' data-id='{{ product.id }}'>{{ product.metafields.judgeme.badge }}</div>
    
    <div class="grid-view-item__meta collection-title_wrapper">
      {% include 'product-price' %}
    </div>
  </a>
     </div>
</div>
</div>

