<!-- snippet/product-price.liquid -->
{% if product.title %}
  {%- assign compare_at_price = product.compare_at_price -%}
  {%- assign price = product.price -%}
  {%- assign price_varies = product.price_varies -%}
  {%- assign available = product.available -%}
{% else %}
  {%- assign compare_at_price = 1999 -%}
  {%- assign price = 1999 -%}
  {%- assign price_varies = false -%}
  {%- assign available = true -%}
{% endif %}

{%- assign money_price = price | money -%}

{% if compare_at_price > price %}
  {% if price_varies %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s class="product-price__price" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{{ compare_at_price | money }}</s>{% comment %}ShopaFree{% endcomment %}
    <span class="product-price__price product-price__sale" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{% comment %}ShopaFree{% endcomment %}
      {{ money_price }}
      <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
    </span>
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <s class="product-price__price" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{{ compare_at_price | money }}</s>{% comment %}ShopaFree{% endcomment %}
    <span class="product-price__price product-price__sale" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{% comment %}ShopaFree{% endcomment %}
      {{ money_price }}
      <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
    </span>
  {% endif %}
{% else %}

  {% if price_varies %}
    <span class="product-price__price" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{{ money_price }}</span>{% comment %}ShopaFree{% endcomment %}
  {% else %}
    <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
    <span class="product-price__price" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{{ money_price }}</span>{% comment %}ShopaFree{% endcomment %}
  {% endif %}
{% endif %}

{% unless available %}
  <span class="product-price__sold-out" style="{% if section.settings.custom_colors %}color: {{ section.settings.price_color }};{% endif %}{% if block.settings.custom_colors %}color: {{ block.settings.price_color }};{% endif %}">{{ 'products.product.sold_out' | t }}</span>{% comment %}ShopaFree{% endcomment %}
{% endunless %}
