{% comment %}ShopaFree{% endcomment %}
{% capture custom-color-link-floor %}
{% if block.settings.custom_colors and block.settings.link_color %}
{{ block.settings.link_color }};
{% else %}
{% if section.settings.custom_colors  and section.settings.link_color %}
{{ section.settings.link_color }};
{% else %}
{{ settings.link_color_floor }}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-link-hover-floor %}
{% if block.settings.custom_colors and block.settings.link_hover_color %}
{{ block.settings.link_color }};
{% else %}
{% if section.settings.custom_colors  and section.settings.link_hover_color %}
{{ section.settings.link_hover_color }};
{% else %}
{{ settings.link_hover_color_floor }}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-copyright-floor %}
{% if block.settings.custom_colors and block.settings.copyright_color %}
{{ block.settings.copyright_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.copyright_color %}
{{ section.settings.copyright_color }}
{% else %}
{{ settings.copyright_color_floor }}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-credit-floor %}
{% if block.settings.custom_colors and block.settings.credit_color %}
{{ block.settings.credit_color }};
{% else %}
{% if section.settings.custom_colors and section.settings.credit_color %}
{{ section.settings.credit_color }};
{% else %}
{{ settings.credit_color_floor }}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-bg-floor %}
{% if section.settings.custom_colors and section.settings.bg_color %}
{{ section.settings.bg_color }}
{% else %}
{{ settings.bg_color_floor }}
{% endif %}
{% endcapture %}
<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ custom-color-bg-floor }};
  }
</style>
<style>
  .floor div p a{
    color: {{ custom-color-link-floor }}
  }
  .floor div p,.floor div {
    color: {{ custom-color-copyright-floor }}
  }
    .floor div small a{
    color: {{ custom-color-credit-floor }}
  }
  .floor div p a:hover,.floor div small a:hover {
  color: {{ custom-color-link-hover-floor }}
}
    .floor.grid {
    padding: 40px;
  }
</style>

{% if section.settings.compact %}

<div class="floor grid">
    <div class="grid__item text-center">
      <p style="display:inline-block;"><small class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. <a href="https://www.shopify.com/?ref=shopafree" target="_blank">Powered by Shopify</a></small></p><p style="display:inline-block; padding: 10px;"><small> / </small></p><small style="display:inline-block;" class="site-footer__links"><a href="http://shopafree.me/" target="_blank">Free Shopify Setup ~ by ShopaFree</a></small>
    </div>
  </div>

   <style>
     .floor.grid {
    padding: 25px;
  }
</style>

{% else %}

<div class="floor grid">
    <div class="grid__item text-center">
      <p class="site-footer__links">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. <a href="https://www.shopify.com/?ref=shopafree" target="_blank">Powered by Shopify</a></p>
      <small class="site-footer__links"><a href="http://shopafree.me/" target="_blank">Free Shopify Setup ~ by ShopaFree</a></small>
    </div>
  </div>

{% endif %}


{% schema %}
  {
    "name": "Floor",
    "settings": [
      {
        "type": "header",
        "content": "Floor"
      },
		{
        "type": "checkbox",
        "id": "compact",
        "label": "Compact",
        "default": false
      },
		{
        "type": "header",
        "content": "Custom Colors"
    	},
		{
        "type": "checkbox",
        "id": "custom_colors",
        "label": "Override Section Colors",
        "default": false
		},
      {
        "type": "color",
        "id": "copyright_color",
        "label": "Copyright",
        "default": "#000"
      },
	  {
        "type": "color",
        "id": "link_color",
        "label": "Copyright link",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "credit_color",
        "label": "Credit",
        "default": "#fff"
      },
	  {
        "type": "color",
        "id": "link_hover_color",
        "label": "Link hover",
        "default": "#fff"
      },
	  {
        "type": "color",
        "id": "bg_color",
        "label": "Floor background",
        "default": "#000"
      }
    ]
}
{% endschema %}
{% comment %}ShopaFree{% endcomment %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
