{% comment %}ShopaFree{% endcomment %}
{% capture custom-color-shead-instafeed %}
{% if block.settings.custom_colors and block.settings.heading_color %}{{ block.settings.shead_color }};{% else %}{% if section.settings.custom_colors and section.settings.shead_color %}{{ section.settings.shead_color }};{% else %}{% if settings.custom_colors_instafeed %}{{ settings.shead_color_instafeed }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-like-instafeed %}
{% if block.settings.custom_colors and block.settings.border_color %}{{ block.settings.like_color }};{% else %}{% if section.settings.custom_colors and section.settings.like_color %}{{ section.settings.like_color }};{% else %}{% if settings.custom_colors_instafeed %}{{ settings.like_color_instafeed }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-caption-instafeed %}
{% if block.settings.custom_colors and block.settings.caption_color %}{{ block.settings.caption_color }};{% else %}{% if section.settings.custom_colors and section.settings.caption_color %}{{ section.settings.caption_color }};{% else %}{% if settings.custom_colors_instafeed %}{{ settings.caption_color_instafeed }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-bg-instafeed %}
{% if block.settings.custom_colors and block.settings.bg_color %}
{{ block.settings.bg_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.bg_color %}
{{ section.settings.bg_color }}
{% else %}
{% if settings.custom_colors_instafeed %}{{ settings.bg_color_instafeed }}{% endif %}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-overlay-instafeed %}
{% if block.settings.custom_colors and block.settings.overlay_color %}{{ block.settings.overlay_color }}{% else %}{% if section.settings.custom_colors and section.settings.overlay_color %}{{ section.settings.overlay_color }}{% else %}{% if settings.custom_colors_instafeed %}{{ settings.overlay_color_instafeed }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-overlay-opacity-instafeed %}
{% if block.settings.custom_colors and block.settings.overlay_opacity %}{{ block.settings.overlay_opacity }}{% else %}{% if section.settings.custom_colors and section.settings.overlay_opacity %}{{ section.settings.overlay_opacity }}{% else %}{% if settings.custom_colors_instafeed %}{{ settings.overlay_opacity_instafeed }}{% endif %}{% endif %}{% endif %}
{% endcapture %}
<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ custom-color-bg-instafeed }};
     {% if section.settings.instafeed_padding_vertical != 'default' %}
    {% if section.settings.instafeed_padding_vertical == 'flush' %}
    padding-top:0px;
    padding-bottom:0px;
    {% elsif section.settings.instafeed_padding_vertical == 'tiny' %}
    padding-top:15px;
    padding-bottom:15px;
    {% elsif section.settings.instafeed_padding_vertical == 'small' %}
    padding-top:35px;
    padding-bottom:35px;
    {% elsif section.settings.instafeed_padding_vertical == 'medium' %}
    padding-top:55px;
    padding-bottom:55px;
    {% elsif section.settings.instafeed_padding_vertical == 'large' %}
    padding-top:105px;
    padding-bottom:105px;
    {% elsif section.settings.instafeed_padding_vertical == 'ginormous' %}
    padding-top:155px;
    padding-bottom:155px;
    {% endif %}
    {% else %}
    {% if settings.instafeed_padding_vertical == 'flush' %}
    padding-top:0px;
    padding-bottom:0px;
    {% elsif settings.instafeed_padding_vertical == 'tiny' %}
    padding-top:15px;
    padding-bottom:15px;
    {% elsif settings.instafeed_padding_vertical == 'small' %}
    padding-top:35px;
    padding-bottom:35px;
    {% elsif settings.instafeed_padding_vertical == 'medium' %}
    padding-top:55px;
    padding-bottom:55px;
    {% elsif settings.instafeed_padding_vertical == 'large' %}
    padding-top:105px;
    padding-bottom:105px;
    {% elsif settings.instafeed_padding_vertical == 'ginormous' %}
    padding-top:155px;
    padding-bottom:155px;
    {% endif %}
    {% endif %}
    
    
    {% if section.settings.instafeed_padding_horizontal != 'default' %}
    {% if section.settings.instafeed_padding_horizontal == 'flush' %}
    padding-left:0px;
    padding-right:0px;
    {% elsif section.settings.instafeed_padding_horizontal == 'tiny' %}
    padding-left:15px;
    padding-right:15px;
    {% elsif section.settings.instafeed_padding_horizontal == 'small' %}
    padding-left:35px;
    padding-right:35px;
    {% elsif section.settings.instafeed_padding_horizontal == 'medium' %}
    padding-left:55px;
    padding-right:55px;
    {% elsif section.settings.instafeed_padding_horizontal == 'large' %}
    padding-left:105px;
    padding-right:105px;
    {% elsif section.settings.instafeed_padding_horizontal == 'ginormous' %}
    padding-left:155px;
    padding-right:155px;
    {% endif %}
    {% else %}
    {% if settings.instafeed_padding_horizontal == 'flush' %}
    padding-left:0px;
    padding-right:0px;
    {% elsif settings.instafeed_padding_horizontal == 'tiny' %}
    padding-left:15px;
    padding-right:15px;
    {% elsif settings.instafeed_padding_horizontal == 'small' %}
    padding-left:35px;
    padding-right:35px;
    {% elsif settings.instafeed_padding_horizontal == 'medium' %}
    padding-left:55px;
    padding-right:55px;
    {% elsif settings.instafeed_padding_horizontal == 'large' %}
    padding-left:105px;
    padding-right:105px;
    {% elsif settings.instafeed_padding_horizontal == 'ginormous' %}
    padding-left:155px;
    padding-right:155px;
    {% endif %}
    {% endif %}
  }
{% if section.settings.show_hide == 'desktop' %}
@media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
{% elsif section.settings.show_hide == "mobile" %}
@media screen and (min-width: 750px) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
{% elsif section.settings.show_hide == "neither" %}
@media screen and (min-width: 1px) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
{% endif %}
</style>
<style>
a.instalink:hover, a.instalink:focus {
  opacity: 1;
}
  
.instacontainer{
  position: relative;
  overflow: hidden;
  padding-left: 0px;
  padding: {% case section.settings.grid_margin %}{% when '0px' %}0px{% when '5px' %}5px{% when '10px' %}10px{% when '15px' %}15px{% when '20px' %}20px{% endcase %};
}
  
.instalay {
  color: {{ custom-color-caption-instafeed }};
  position: absolute;
  top: 0px;
  right:0px;
  left: 0px;
  bottom: 15%;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  padding: 20px;
  overflow: hidden;
  font-weight: normal;
  margin: {% case section.settings.grid_margin %}{% when '0px' %}0px{% when '5px' %}5px{% when '10px' %}10px{% when '15px' %}15px{% when '20px' %}20px{% endcase %};
  font-size: {{ section.settings.caption_size }};

}
  
  .likelay {
  color: {{custom-color-like-instafeed }};
  position: absolute;
  right:0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  padding: 20px;
  overflow: hidden;
  margin: {% case section.settings.grid_margin %}{% when '0px' %}0px{% when '5px' %}5px{% when '10px' %}10px{% when '15px' %}15px{% when '20px' %}20px{% endcase %};
  font-size: {{ section.settings.like_size }};

}
  
.colorlay {
 	position: absolute;
    top: 0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    background-color: {{ custom-color-overlay-instafeed }};
    opacity: 0;
    overflow: hidden;
    margin: {% case section.settings.grid_margin %}{% when '0px' %}0px{% when '5px' %}5px{% when '10px' %}10px{% when '15px' %}15px{% when '20px' %}20px{% endcase %};


}

  .instacontainer:hover .colorlay{
    opacity: {{ custom-color-overlay-opacity-instafeed }};
}
  
  .instacontainer:hover .instalay{
    
    {% if section.settings.enable_caption %} opacity: 1;{% endif %}
}
  
   @media (max-width: 749px) {
     .instacontainer:hover .instalay{opacity: 0;}
        }
  
  .instacontainer:hover .likelay{
  {% if section.settings.enable_like %} opacity: 1;{% endif %}
}
  
</style>

<div class="" style="overflow-x: hidden;" data-section-id="{{ section.id }}" data-section-type="instafeed">
  {% if section.settings.title != blank %}
    <div class="section-header text-center" style="margin-bottom: 0px;">
      <h2 style="color: {{ custom-color-shead-instafeed }};">{{ section.settings.title }}</h2>
    </div>
  {% endif %}
    <div class="grid" style="overflow-x: hidden; text-align: center; margin-left: 0px"><div id="instafeed" style="justify-content:center"></div></div>

  </div>

{% case section.settings.grid %}
    {% when '2' %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when '3' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when '4' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when '5' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
	{% when '6' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-sixth' -%}
{% when '8' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-eighth' -%}
{% when '10' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-tenth' -%}
{% when '12' %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-twelfth' -%}
{% endcase %}

<div style="display:none" id="instatoken">{{ section.settings.instaclientid }}</div>
<div style="display:none" id="instacount">{{ section.settings.instacount }}</div>
<div style="display:none" id="instasort">{{ section.settings.instasortby }}</div>
<div style="display:none" id="instares">{{ section.settings.instares }}</div>
<div style="display:none" id="instagrid">{{ grid_item_width }}</div>

{% schema %}
{
  "name": "Instagram feed",
  "class": "index-section",
  "settings": [
	{
      "type": "select",
      "id": "show_hide",
      "label": "Visible on Desktop/Mobile",
      "default": "both",
      "options": [
        {
          "label": "Show on Both",
          "value": "both"
        },
		{
          "label": "Hide on Mobile",
          "value": "desktop"
        },
        {
          "label": "Hide on Desktop",
          "value": "mobile"
        },
        {
          "label": "Hide on Both",
          "value": "neither"
        }
      ]
    },
    {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Instagram"
        },
	{
          "type": "text",
          "id": "instaclientid",
          "label": "Instagram Access Token ([?](https://www.google.com/search?q=instagram+access+token))"
    },
		{
          "type": "select",
          "id": "instacount",
          "label": "Number of images",
          "default": "6",
          "options": [
              {
                "value": "2",
                "label": "2"
              },
              {
                "value": "4",
                "label": "4"
              },
              {
                "value": "6",
                "label": "6"
              },
              {
                "value": "8",
                "label": "8"
              },
              {
                "value": "10",
                "label": "10"
              },
              {
                "value": "12",
                "label": "12"
              },
              {
                "value": "16",
                "label": "16"
              },
              {
                "value": "20",
                "label": "20"
              },
              {
                "value": "24",
                "label": "24"
              },
              {
                "value": "30",
                "label": "30"
              },
              {
                "value": "36",
                "label": "36"
              }
          ]
        },
		{
      "type": "select",
      "id": "grid",
      "label": "Images per row",
      "default": "3",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "5",
          "label": "5"
        },
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "10",
          "label": "10"
        },
        {
          "value": "12",
          "label": "12"
        }
      ]
    },
	{
      "type": "select",
      "id": "grid_margin",
      "label": "Image Margin",
      "default": "0px",
      "options": [
        {
          "value": "0px",
          "label": "0px"
        },
        {
          "value": "5px",
          "label": "5px"
        },
        {
          "value": "10px",
          "label": "10px"
        },
        {
          "value": "15px",
          "label": "15px"
        },
		{
          "value": "20px",
          "label": "20px"
        }
      ]
    },
	{
          "type": "select",
          "id": "instasortby",
          "label": "Sort By",
		  "default": "most-recent",
          "options": [
              {
                "value": "most-recent",
                "label": "Most Recent"
              },
              {
                "value": "least-recent",
                "label": "Least Recent"
              },
              {
                "value": "most-liked",
                "label": "Most Liked"
              },
              {
                "value": "least-liked",
                "label": "Least Liked"
              },
              {
                "value": "most-commented",
                "label": "Most Commented"
              },
              {
                "value": "least-commented",
                "label": "Least Commented"
              },
			  {
                "value": "random",
                "label": "Random"
              }
          ]
        },
		{
          "type": "select",
          "id": "instares",
          "label": "Resolution",
		  "default": "thumbnail",
          "options": [
              {
                "value": "thumbnail",
                "label": "Thumbnail"
              },
              {
                "value": "low_resolution",
                "label": "Low Resolution"
              },
              {
                "value": "standard_resolution",
                "label": "Standard Resoulution"
              }
          ]
        },
		{
        "type": "checkbox",
        "id": "enable_caption",
        "label": "Enable caption",
        "default": false
		},
		{
        "type": "select",
        "id": "caption_size",
        "label": "Caption size",
        "default": "1em",
        "options": [
          {
            "value": "0.5em",
            "label": "0.5em"
          },
          {
            "value": "0.75em",
            "label": "0.75em"
          },
          {
            "value": "1em",
            "label": "1em"
          },
          {
            "value": "1.25em",
            "label": "1.25em"
          },
          {
            "value": "1.5em",
            "label": "1.5em"
          },
          {
            "value": "1.75em",
            "label": "1.75em"
          },
          {
            "value": "2em",
            "label": "2em"
          },
          {
            "value": "2.25em",
            "label": "2.25em"
          },
          {
            "value": "2.5em",
            "label": "2.5em"
          }
        ]
      },
		{
        "type": "checkbox",
        "id": "enable_like",
        "label": "Enable like count",
        "default": false
		},
		{
        "type": "select",
        "id": "like_size",
        "label": "Like size",
        "default": "1em",
        "options": [
          {
            "value": "0.5em",
            "label": "0.5em"
          },
          {
            "value": "0.75em",
            "label": "0.75em"
          },
          {
            "value": "1em",
            "label": "1em"
          },
          {
            "value": "1.25em",
            "label": "1.25em"
          },
          {
            "value": "1.5em",
            "label": "1.5em"
          },
          {
            "value": "1.75em",
            "label": "1.75em"
          },
          {
            "value": "2em",
            "label": "2em"
          },
          {
            "value": "2.25em",
            "label": "2.25em"
          },
          {
            "value": "2.5em",
            "label": "2.5em"
          }
        ]
      },
		{
        "type": "header",
        "content": "Custom Colors"
    	},
		{
        "type": "checkbox",
        "id": "custom_colors",
        "label": "Enable Custom Colors",
        "default": false
		},
		{
        "type": "color",
        "id": "shead_color",
        "label": "Section Heading Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "caption_color",
        "label": "Caption Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "like_color",
        "label": "Like Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color",
        "default": "#000"
		},
		{
        "type": "select",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "default": "0.25",
        "options": [
          {
            "label": "100%",
            "value": "1"
          },
          {
            "label": "95%",
            "value": "0.95"
          },
          {
            "label": "90%",
            "value": "0.9"
          },
          {
            "label": "85%",
            "value": "0.85"
          },
          {
            "label": "80%",
            "value": "0.8"
          },
          {
            "label": "75%",
            "value": "0.75"
          },
          {
            "label": "70%",
            "value": "0.7"
          },
          {
            "label": "65%",
            "value": "0.65"
          },
          {
            "label": "60%",
            "value": "0.6"
          },
          {
            "label": "55%",
            "value": "0.55"
          },
          {
            "label": "50%",
            "value": "0.5"
          },
          {
            "label": "45%",
            "value": "0.45"
          },
          {
            "label": "40%",
            "value": "0.4"
          },
          {
            "label": "35%",
            "value": "0.35"
          },
          {
            "label": "30%",
            "value": "0.3"
          },
          {
            "label": "25%",
            "value": "0.25"
          },
          {
            "label": "20%",
            "value": "0.2"
          },
          {
            "label": "0%",
            "value": "0"
          }
        ]
      },
		{
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "transparent"
		},
		{
        "type": "header",
        "content": "Section Padding"
    	},
		{
        "type": "select",
        "id": "instafeed_padding_vertical",
        "label": "Vertical",
        "default": "default",
      "options": [
		{
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Flush",
          "value": "flush"
        },
        {
          "label": "Tiny",
          "value": "tiny"
        },
		{
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Ginormous",
          "value": "ginormous"
        }
]
},
{
        "type": "select",
        "id": "instafeed_padding_horizontal",
        "label": "Horizontal",
        "default": "default",
      "options": [
		{
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Flush",
          "value": "flush"
        },
        {
          "label": "Tiny",
          "value": "tiny"
        },
		{
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Ginormous",
          "value": "ginormous"
        }
]
}
  ],
  "presets": [{
      "name": "Instagram feed",
      "category": "Image"
    }]
}
{% endschema %}
{% comment %}ShopaFree{% endcomment %}