

<div id="popup{{ section.id }}"  style=" padding: 0px; vertical-align: middle;position: fixed; top:{{ settings.popup_size }}; bottom:{{ settings.popup_size }}; left:{% if settings.popup_size == '15%' %}15%{% elsif settings.popup_size == '10%' %}10%{% elsif settings.popup_size == '5%' %}5%{% else %}20%{%endif%}; right:{% if settings.popup_size == '15%' %}15%{% elsif settings.popup_size == '10%' %}10%{% elsif settings.popup_size == '5%' %}5%{% else %}20%{%endif%}; "class="remodal" data-remodal-id="modal" data-section-id="{{ section.id }}" data-section-type="popup">
			          <a href="#" data-remodal-action="cancel" class="closer" style="z-index:9; position:absolute; top:0px; right: 0px;">{% include 'icon-close' %}</a>

          <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% if section.settings.custom_colors %}{{ section.id }}{% endif %}{% endif %} box ratio-container lazyload js" {% comment %}ShopaFree{% endcomment %}
     {% if section.settings.image %}
     data-bgset="{% include 'bgset', image: section.settings.image %}"
     data-sizes="auto"
     data-parent-fit="cover"
     style="display: table; width: 100%; height: 100%; text-align:{{ section.settings.popup_text_align }} ;background-position: {{ section.settings.alignment }}; background-image: url('{{ section.settings.image | img_url: '300x300' }});"
     {% endif %}>
          {% comment %}ShopaFree{% endcomment %}
{% capture custom-color-overlay-hero %}
{% if block.settings.custom_colors and block.settings.overlay_color %}{{ block.settings.overlay_color }}{% else %}{% if section.settings.custom_colors and section.settings.overlay_color %}{{ section.settings.overlay_color }}{% else %}{% if settings.custom_colors_hero %}{{ settings.overlay_color_hero }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-overlay-opacity-hero %}
{% if block.settings.custom_colors and block.settings.overlay_opacity %}{{ block.settings.overlay_opacity }}{% else %}{% if section.settings.custom_colors and section.settings.overlay_opacity %}{{ section.settings.overlay_opacity }}{% else %}{% if settings.custom_colors_hero %}{{ settings.overlay_opacity_hero }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-bg-hero %}
{% if block.settings.custom_colors and block.settings.bg_color %}
{{ block.settings.bg_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.bg_color %}
{{ section.settings.bg_color }}
{% else %}
{% if settings.custom_colors_hero %}{{ settings.bg_color_hero }}{% endif %}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-shadow-hero %}
{% if block.settings.custom_colors and block.settings.shadow_color %}{{ block.settings.shadow_color }};{% else %}{% if section.settings.custom_colors and section.settings.shadow_color %}{{ section.settings.shadow_color }}{% else %}{% if settings.custom_colors_hero %}{{ settings.shadow_color_hero }}{% else %}transparent{% endif %}{% endif %}{% endif %}
{% endcapture %}
            
{% capture custom-color-close-hero %}
{% if block.settings.custom_colors and block.settings.close_color %}{{ block.settings.close_color }};{% else %}{% if section.settings.custom_colors and section.settings.close_color %}{{ section.settings.close_color }}{% else %}{% if settings.custom_colors_hero %}{{ settings.close_color_hero }}{% else %}{{ settings.color_text }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-heading-hero %}
{% if section.settings.custom_colors and section.settings.heading_color %}
{{ section.settings.heading_color }}
{% else %}
{% if settings.custom_colors_hero %}{{ settings.heading_color_hero }}{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-text-hero %}
{% if section.settings.custom_colors and section.settings.text_color %}
{{ section.settings.text_color }}
{% else %}
{% if settings.custom_colors_hero %}{{ settings.text_color_hero }}{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-button-hero %}
{% if section.settings.custom_colors and section.settings.button_text_color %}
color: {{ section.settings.button_text_color }};
fill: {{ section.settings.button_text_color }};
{% else %}
{% if settings.custom_colors_hero %}
color: {{ settings.button_text_color_hero }};
fill: {{ settings.button_text_color_hero }};
{% endif %}
{% endif %}

{% if section.settings.custom_colors and section.settings.button_back_color %}
background-color: {{ section.settings.button_back_color }};
{% else %}
{% if settings.custom_colors_hero %}
background-color: {{ settings.button_back_color_hero }};
{% endif %}
{% endif %}
{% endcapture %}
<style>

  {% if section.settings.custom_colors %}
  .hero__overlay{{ section.id }}::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: {{ section.settings.overlay_color }};
    opacity: {{ section.settings.overlay_opacity }};
    z-index: 1;
}
  {% endif %}
</style>

{% comment %}ShopaFree{% endcomment %}


  {% if section.settings.image == blank %}
    <div class="placeholder-background">
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {% endif %}
  <div class="hero__inner">
    <div class="page-width text-center">
      {% if section.settings.title != blank %}
        <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% elsif section.settings.text_size == 'small' %} mega-title--small{% endif %}"style="text-shadow: 0 0 12px {{ custom-color-shadow-hero }}; color: {{ custom-color-heading-hero }};">{{ section.settings.title }}</h2>{% comment %}ShopaFree{% endcomment %}
      {% endif %}
      {% if section.settings.text != blank %}
        <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% elsif section.settings.text_size == 'small' %} mega-subtitle--small{% endif %}" style="text-shadow: 0 0 12px {{ custom-color-shadow-hero }}; color: {{ custom-color-text-hero }};">{{ section.settings.text }}</div>{% comment %}ShopaFree{% endcomment %}
      {% endif %}
      {% if section.settings.button_label != blank and section.settings.button_link != blank %}
        <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.text_size == 'small' %} btn--small{% endif %} hero__btn" style="{{ custom-color-button-hero }};     margin-top: 25px;">{% comment %}ShopaFree{% endcomment %}
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

<noscript>
  <div class="hero hero--{{ section.settings.hero_size }}{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %} hero__overlay{% endif %}"{% if section.settings.image %} style="background-image: url('{{ section.settings.image | img_url: '2048x' }}'); background-position: center {{ section.settings.alignment }};"{% endif %}></div>
</noscript>
            
  </div>

<style>
  .closer svg {width: 30px; height: 30px; padding: 5px; color: {{ custom-color-close-hero }}; fill: {{ custom-color-close-hero }}; }
</style>

<div style="display:none;" id="popupsec">{{ settings.popup_sec }}</div>
<div style="display:none;" id="popupday">{{ settings.popup_day }}</div>



{% schema %}
  {
    "name": "Popup (Image w/ Overlay)",
    "settings": [
{
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment",
        "default": "center",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text overlay"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
      },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
{
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
	{
        "type": "header",
        "content": "Custom Colors"
    	},
		{
        "type": "checkbox",
        "id": "custom_colors",
        "label": "Enable Custom Colors",
        "default": false
		},
		{
        "type": "color",
        "id": "close_color",
        "label": "Close (X) Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "shadow_color",
        "label": "Shadow Color",
        "default": "transparent"
		},
		{
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#000"
		},
        {
        "type": "color",
        "id": "button_back_color",
        "label": "Button Back Color",
        "default": "#fff"
		},
		{
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color",
        "default": "#fff"
		},
		{
        "type": "select",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "default": "0.2",
        "options": [
          {
            "label": "100%",
            "value": "1"
          },
          {
            "label": "90%",
            "value": "0.9"
          },
          {
            "label": "80%",
            "value": "0.8"
          },
          {
            "label": "70%",
            "value": "0.7"
          },
          {
            "label": "60%",
            "value": "0.6"
          },
          {
            "label": "50%",
            "value": "0.5"
          },
          {
            "label": "40%",
            "value": "0.4"
          },
          {
            "label": "30%",
            "value": "0.3"
          },
          {
            "label": "20%",
            "value": "0.2"
          },
		  {
            "label": "10%%",
            "value": "0.1"
          },
          {
            "label": "0%",
            "value": "0"
          }
        ]
      },
		{
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "transparent"
		}


],
"blocks": [

      ]
  }
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
