{% capture block-list-header %}
{% for block in section.blocks %}
{{ block.type }}
{% endfor %}
{% endcapture %}

<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% if product.images.size > 1 %}
  {% if section.settings.thumbnail_position == "below" %}
  
  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}
  
  {% else %}
  
  {% case section.settings.image_size %}
    {% when 'small' %}
  
      {%- assign product_image_width = 'medium-up--five-twelfths' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign height = 345 -%}
  
  {% case section.settings.thumb_image_size %}
  		    {% when 'small' %}
        {%- assign product_image_width = 'medium-up--five-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-twelfth' -%}
  			 {% when 'medium' %}
          {%- assign product_image_width = 'medium-up--four-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% when 'large' %}
          {%- assign product_image_width = 'medium-up--four-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% endcase %}
  

  
    {% when 'medium' %}
  
  
      {%- assign product_description_width = 'medium-up--five-twelfths' -%}
      {%- assign height = 530 -%}
  {% case section.settings.thumb_image_size %}
  		    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-twelfth' -%}
  			 {% when 'medium' %}
          {%- assign product_image_width = 'medium-up--five-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% when 'large' %}
           {%- assign product_image_width = 'medium-up--five-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% endcase %}
  
  
    {% when 'large' %}
  
  
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--three-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-twelfth' -%}
      {%- assign height = 720 -%}
  
  {% case section.settings.thumb_image_size %}
  		    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-twelfth' -%}
  			 {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--seven-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% when 'large' %}
      {%- assign product_image_width = 'medium-up--seven-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% endcase %}
  
  
    {% when 'full' %}
      {%- assign product_description_width = '' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  
  {% case section.settings.thumb_image_size %}
  		    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--eleven-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-twelfth' -%}
  			 {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--ten-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% when 'large' %}
      {%- assign product_image_width = 'medium-up--ten-twelfths' -%}
      {%- assign product_thumbnail_width = 'medium-up--two-twelfths' -%}
  {% endcase %}
  
  {% endcase %}
  
  {% endif %}
  {% else %}
  
  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}
  
  {% endif %}
  
  

  <div style="display:none" id="product_thumb_pos">{{ section.settings.thumbnail_position }}</div>
  <div style="display:none" id="product_thumb_slider">{% if section.settings.enable_thumb_slide %}true{% endif %}</div>
  
  
  <div class="grid product-single">
    
    {% if section.settings.thumbnail_position == "left" %}
      {% if product.images.size > 1 %}
    {% if product.images.size > 3 %}
           {% if section.settings.enable_thumb_slide %}{%- assign enable_thumbnail_slides = true -%}{% endif %}
        {% endif %}

        <div style="{% if section.settings.thumb_image_size == "medium" %}margin-left: -40px; margin-right: -40px; padding-left: 50px; padding-right: 50px;{% endif %} max-height: {{ height | minus: 150 }}px;" class="grid__item thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %} {{product_thumbnail_width}}">
          {% if enable_thumbnail_slides == true %}
          <style>



  .thumbnails-slider__btn {
    position: absolute;

  }



  .product-single__thumbnails-item {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
        padding-left: 5px;
    padding-right: 5px;

  }
            
              .thumbnails-slider__prev svg {
 transform: rotate(90deg);
    position: relative;
  }

  .thumbnails-slider__next svg {
 transform: rotate(90deg);
    position: relative;
  }
            
.thumbnails-slider__prev {
  margin-left: -25px;
    left: 50%;
    position: relative;
padding:0px;
  }

  .thumbnails-slider__next {
    margin-left: -25px;
    left: 50%;
    position: relative;
padding:0px;
  }
            
            .product-single__thumbnails {
    margin-top: 30px;
    margin-bottom: 30px;
}
  
          </style>
            <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul style="overflow: hidden; max-height:{{ height | minus: 150 }}px;" class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item medium-up--one-whole product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      {% endif %}
    
    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      
      {% if section.settings.thumbnail_position == "below" %}
      {% if section.settings.enable_thumb_slide %}
      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
           {% if section.settings.enable_thumb_slide %}{%- assign enable_thumbnail_slides = true -%}{% endif %}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}" {% if enable_thumbnail_slides == true %}style=" position: relative; top: 30px; text-align: center; margin-bottom: 30px;"{% endif %}>
          {% if enable_thumbnail_slides == true %}
<style>

.thumbnails-slider--active .product-single__thumbnails {
      display: none;
}

  .thumbnails-slider--active .product-single__thumbnails.slick-initialized {
        display: block;
        margin: 0 auto;
        max-width: 75%;
      }

  .product-single__photos {
    position: relative;
  }

  .thumbnails-wrapper {
    position: relative;
    top: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .thumbnails-slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .thumbnails-slider__prev {
    left: -20px;
  }

  .thumbnails-slider__next {
    right: -20px;
  }

  .product-single__thumbnails-item {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
    {% if section.settings.image_size == "small" %}
        {% if section.settings.thumb_image_size == "small" %}
        padding-left: 5px;
    padding-right: 5px;
    {% elsif section.settings.thumb_image_size == "medium" %}
        padding-left: 4px;
    padding-right: 4px;
    {% elsif section.settings.thumb_image_size == "large" %}
        padding-left: 3px;
    padding-right: 3px;
    {% endif %}
    {% elsif section.settings.image_size == "medium" %}
        {% if section.settings.thumb_image_size == "small" %}
        padding-left: 20pxpx;
    padding-right: 20pxpx;
    {% elsif section.settings.thumb_image_size == "medium" %}
        padding-left: 10px;
    padding-right: 10px;
    {% elsif section.settings.thumb_image_size == "large" %}
        padding-left: 5px;
    padding-right: 5px;
    {% endif %}
    {% elsif section.settings.image_size == "large" %}
        {% if section.settings.thumb_image_size == "small" %}
        padding-left: 25px;
    padding-right: 25px;
    {% elsif section.settings.thumb_image_size == "medium" %}
        padding-left: 15px;
    padding-right: 15px;
    {% elsif section.settings.thumb_image_size == "large" %}
        padding-left: 5px;
    padding-right: 5px;'
    {% endif %}
    {% elsif section.settings.image_size == "full" %}
        {% if section.settings.thumb_image_size == "small" %}
        padding-left: 35px;
    padding-right: 35px;
    {% elsif section.settings.thumb_image_size == "medium" %}
        padding-left: 20px;
    padding-right: 20px;
    {% elsif section.settings.thumb_image_size == "large" %}
        padding-left: 10px;
    padding-right: 10px;'
    {% endif %}
    {% endif %}
  }
  

  
   .product-single__thumbnails-item .slick-slider {
      float: left;
    }

   .product-single__thumbnails-item .thumbnails-slider--active {
      padding: 5px 0;
    }
  

  .product-single__thumbnail {
    margin: 0 auto;
    
    
  }

  .product-single__thumbnail-image {
    width:100%;
  }
  
          </style>
            <button type="button" class="btn btn--link  thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li  style="clear:none;" class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   >
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      {% else %}
      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      {% endif %}
      {% endif %}
    </div>
    
    {% if section.settings.thumbnail_position == "right" %}
      {% if product.images.size > 1 %}
    {% if product.images.size > 3 %}
           {% if section.settings.enable_thumb_slide %}{%- assign enable_thumbnail_slides = true -%}{% endif %}
        {% endif %}

        <div style="{% if section.settings.thumb_image_size == "medium" %}padding-left: 50px; padding-right: 50px;{% endif %} max-height: {{ height | minus: 150 }}px;" class="grid__item thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %} {{product_thumbnail_width}}">
          {% if enable_thumbnail_slides == true %}
          <style>



  .thumbnails-slider__btn {
    position: absolute;

  }



  .grid__item.medium-up--one-whole.product-single__thumbnails-item {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
        padding-left: 5px;
    padding-right: 5px;

  }
            
              .thumbnails-slider__prev svg {
 transform: rotate(90deg);
    position: relative;
  }

  .thumbnails-slider__next svg {
 transform: rotate(90deg);
    position: relative;
  }
            
.thumbnails-slider__prev {
  margin-left: -25px;
    left: 50%;
    position: relative;
padding:0px;
  }

  .thumbnails-slider__next {
    margin-left: -25px;
    left: 50%;
    position: relative;
padding:0px;
  }
            
            .product-single__thumbnails {
    margin-top: 30px;
    margin-bottom: 30px;
}
  
          </style>
            <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul style="overflow: hidden; max-height:{{ height | minus: 150 }}px;" class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item medium-up--one-whole product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      {% endif %}

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">

        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>

        {% if section.settings.show_vendor %}
          <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
                <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ current_variant.price | money }}
                  </span>
                  <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
                </span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
              <span class="product-price__price product-price__price-{{ section.id }}">
                <span id="ProductPrice-{{ section.id }}"
                  itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {{ current_variant.price | money }}
                </span>
                <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
              </span>
            {% endif %}
          </p>

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
            {% endif %}

            <div class="product-form__item product-form__item--submit">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                    {{ 'products.product.sold_out' | t }}
                  {% else %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              </button>
            </div>
          </form>

        </div>

        
        
    
        {% if section.settings.description_position == "default" %}
        
        {% if block-list-header contains "tabs-basic" %}
        {% for block in section.blocks %}
        {% if block.type == "tabs-basic" %}
        {% if block.settings.tab_position == "default" %}
        
        <div class="product-single__description rte" itemprop="description">
          <div id="productDescription" style="display:none;">
		    {{ product.description }}          
		  </div>
		  <div class="jsTabsContainer" data-source="#productDescription"></div>
		</div>   
        
        {% else %}
        
        <div class="product-single__description rte" itemprop="description">
          <div id="productDescription" style="display:none;">
		    {{ product.description }}          
		  </div>
		</div>   
        
        {% endif %}
        {% endif %}
        {% endfor %}
        
        {% elsif block-list-header contains "tabs-accordion" %}
        {% for block in section.blocks %}
        {% if block.type == "tabs-accordion" %}
        {% if block.settings.tab_position == "default" %}
        
        <div class="product-single__description " itemprop="description">
          <div id="productDescription" style="display:none">
		    {{ product.description }}          
		  </div>
		  <div class="jsTabsContainer" data-source="#productDescription"></div>
		</div> 
        
        {% else %}
        
        <div class="product-single__description rte" itemprop="description">
          <div id="productDescription" style="display:none;">
		    {{ product.description }}          
		  </div>
		</div>   
        
        {% endif %}
        {% endif %}
        {% endfor %}
        
         {% elsif block-list-header contains "tabs-advanced" %}
       {% for block in section.blocks %}
        {% if block.type == "tabs-advanced" %}
        {% if block.settings.tab_position == "default" %}
       <div class="product-single__description " itemprop="description">
         <div id="productDescription" style="display:none">
		    {{ product.description }}          
		  </div>
		  <div class="jsTabsContainer" data-source="#productDescription">
            <div class="tabs tabs-style-{{ block.settings.tab_style }}">
  
        <nav>
		<ul id="tab-titles">
		
		</ul>
		</nav>
          
          
  <div style=""class="flexslider">
    
  <ul style="display:flex;" class="slides">
  </ul>
    
</div>
          
</div>
         </div>
		</div> 
        
        {% else %}
        
        <div class="product-single__description " itemprop="description">
         <div id="productDescription" style="display:none">
		    {{ product.description }}          
		  </div>
		</div> 
        
        
    {% endif %}
    {% endif %}
    {% endfor %}
        
        {% else %}
        <div class="product-single__description rte" itemprop="description">
          {{ product.description }}
        </div>
        {% endif %}
        {% endif %}

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
  
        {% if section.settings.description_position == "below" %}
  <div style="padding-top:55px;">
    
    
    {% if block-list-header contains "tabs-basic" %}
        <div class="product-single__description rte" itemprop="description">
          <div id="productDescription" style="display:none">
		    {{ product.description }}          
		  </div>
		  <div class="jsTabsContainer" data-source="#productDescription"></div>
		</div> 
    {% elsif block-list-header contains "tabs-accordion" %}
        <div class="product-single__description " itemprop="description">
          <div id="productDescription" style="display:none">
		    {{ product.description }}          
		  </div>
		  <div class="jsTabsContainer" data-source="#productDescription"></div>
		</div> 
    {% elsif block-list-header contains "tabs-advanced" %}
{% for block in section.blocks %}
{% if block.type == "tabs-advanced" %}
       <div class="product-single__description " itemprop="description">
         		  <div id="productDescription" style="display:none">
		    {{ product.description }}          
		  </div>
		  <div class="jsTabsContainer" data-source="#productDescription">
            <div class="tabs tabs-style-{{ block.settings.tab_style }}">
  
        <nav>
		<ul id="tab-titles">
		
		</ul>
		</nav>
          
          
  <div style=""class="flexslider">
    
  <ul style=""class="slides">
  </ul>
    
</div>
          
</div>
         </div>
		</div> 
        {% endif %}
    {% endfor %}
    
    
        {% else %}
        <div class="product-single__description rte" itemprop="description">
          {{ product.description }}
        </div>  
        {% endif %}
    
    
    
  </div>
  		{% else %}
  
  
    
    
    {% if block-list-header contains "tabs-basic" %}
        {% for block in section.blocks %}
        {% if block.type == "tabs-basic" %}
        {% if block.settings.tab_position == "below" %}
        <div style="padding-top:55px;">
        <div class="product-single__description rte" itemprop="description">
		  <div class="jsTabsContainer" data-source="#productDescription"></div>
		</div>   
  </div>
        
        {% endif %}
        {% endif %}
        {% endfor %}
        
        {% elsif block-list-header contains "tabs-accordion" %}
        {% for block in section.blocks %}
        {% if block.type == "tabs-accordion" %}
        {% if block.settings.tab_position == "below" %}
        <div style="padding-top:55px;">
        <div class="product-single__description " itemprop="description">
		  <div class="jsTabsContainer" data-source="#productDescription"></div>
		</div> 
  </div>
         
        
        {% endif %}
        {% endif %}
        {% endfor %}
        
         {% elsif block-list-header contains "tabs-advanced" %}
       {% for block in section.blocks %}
        {% if block.type == "tabs-advanced" %}
        {% if block.settings.tab_position == "below" %}
  <div style="padding-top:55px;">
       <div class="product-single__description " itemprop="description">
		  <div class="jsTabsContainer" data-source="#productDescription">
            <div class="tabs tabs-style-{{ block.settings.tab_style }}">
  
        <nav>
		<ul id="tab-titles">
		
		</ul>
		</nav>
          
          
  <div style=""class="flexslider">
    
  <ul style=""class="slides">
  </ul>
    
</div>
          
</div>
         </div>
		</div> 
        
  </div>
        
    {% endif %}
    {% endif %}
    {% endfor %}
	
  	{% endif %}
    
    
    
  </div>
  
        {% endif %}
  
  

{% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<style>
    .grid__item.medium-up--one-whole.product-single__thumbnails-item {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: middle;
        padding-left: 5px;
    padding-right: 5px;

  }
  
  ul.slides.flexslide {
   display: flex; 
  }
</style>
		
  		{% if block-list-header contains "tabs-basic" %}
  <div style="display:none" id="product_tabs">basic</div>
		{% elsif block-list-header contains "tabs-accordion" %}
  <div style="display:none" id="product_tabs">accordion</div>
		{% elsif block-list-header contains "tabs-advanced" %}
  <div style="display:none" id="product_tabs">advanced</div>
		{% else %}
  <div style="display:none" id="product_tabs">false</div>
		{% endif %}

{% if block-list-header contains "tabs-advanced" %}
{% for block in section.blocks %}
{% if block.type == "tabs-advanced" %}
  <div style="display:none" id="tabanimation">{{ block.settings.tab_animation }}</div>
{% endif %}
{% endfor %}
{% else %}
  <div style="display:none" id="tabanimation">none</div>
{% endif %}


{% if block-list-header contains "tabs-accordion" %}
{% for block in section.blocks %}
{% if block.type == "tabs-accordion" %}
{% if block.settings.one_accordion %}
  <div style="display:none" id="oneaccordion">true</div>
{% else %}
  <div style="display:none" id="oneaccordion">flase</div>
{% endif %}
{% endif %}
{% endfor %}
{% else %}
  <div style="display:none" id="oneaccordion">flase</div>
{% endif %}




        {% if block-list-header contains "tabs-accordion" %}
{% for block in section.blocks %}
{% if block.type == "tabs-accordion" %}
<style>
.product-accordion:after {
    content: "+";
  float: {{ block.settings.tab_alignment_2 }};
    font-weight: bold;
    transform: scale(2);
      position: relative;
    bottom: 1px;
     transition: bottom 0s;

}
.product-accordion.active:after {
    content: "-";
  float: {{ block.settings.tab_alignment_2 }};
    font-weight: bold;
    transform: scale(2);
    position: relative;
    bottom: 3px;
   transition: bottom 0s;
}
  
.product-accordion {
    background-color: {{ block.settings.accordion_color }};
  	color: {{ block.settings.accordion_text_color }};
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
  	text-align: {{ block.settings.tab_alignment_1 }};
    outline: none;
    font-size: 15px;
    transition: color,background-color 0.4s;
    margin: 0 0 20px;
}
  
.product-accordion strong {
    {% if block.settings.tab_alignment_1 == "left" %}{% if block.settings.tab_alignment_2 == "left" %}padding-left:15px;{% endif %}{% endif %}{% if block.settings.tab_alignment_1 == "right" %}{% if block.settings.tab_alignment_2 == "right" %}padding-right:15px;{% endif %}{% endif %}
}
  
  .product-accordion + .product-accordion-content {
margin: 0 0 -10px 55px;
  }
  .product-accordion.active + .product-accordion-content {
    margin: 0 0 27.5px 55px;
  }

.product-accordion.active, .product-accordion:hover {
    background-color: {{ block.settings.accordion_hover_color }};
    	color: {{ block.settings.accordion_text_hover_color }};
    transition: color,background-color 0.4s;

}

.product-accordion-content {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
{% endif %}
{% endfor %}
{% endif %}
  {% if block-list-header contains "tabs-basic" %}
{% for block in section.blocks %}
{% if block.type == "tabs-basic" %}
<style>

  .jsTabsContainer ul.tabs {
    border-bottom: 1px solid {{ block.settings.accordion_border_color }};
    display: block;
    margin: 0 0 20px;
    padding: 0;
    text-align: {{ block.settings.tab_alignment }};
  }

  .jsTabsContainer ul.tabs li {
    display: inline-block;
    height: 30px;
    margin-bottom: 0;
    padding: 0;
    width: auto;
    background-color: {{ block.settings.accordion_color }};
  	color: {{ block.settings.accordion_text_color }};
    
  }

  .jsTabsContainer ul.tabs li a {
    	transition: padding-bottom 0s;

    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F5F5F5;
    border-color: {{ block.settings.accordion_border_color }} !important;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    display: block;
    font-size: 13px;
    height: 29px;
    line-height: 30px;
    margin: 0;
    padding: 0 20px;
    text-decoration: none;
    width: auto;
    color: #303030;
        border-bottom: none;
    background-color: {{ block.settings.accordion_color }};
  	color: {{ block.settings.accordion_text_color }};
    padding-bottom: 29px;

  }

  .jsTabsContainer ul.tabs li a.active {
    
    background: none repeat scroll 0 0 #FFFFFF;
    border-left-width: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #111111;
    height: 30px;
    margin: 0 0 0 -1px;
    padding-top: 4px;
    position: relative;
    top: -4px;
        border-bottom:none !important;
    padding-bottom: 33px;
	transition: padding-bottom 0s;
    background-color: {{ section.settings.accordion_hover_color }};
    	color: {{ section.settings.accordion_text_hover_color }};
  }
  
  .jsTabsContainer ul.tabs li a:hover, .jsTabsContainer ul.tabs li a:focus {
    opacity: 1;
}

  .jsTabsContainer ul.tabs li:first-child a.active {
    margin-left: 0;
  }

  .jsTabsContainer ul.tabs li:first-child a {
    border-top-left-radius: 2px;
    border-width: 1px 1px 0;
  }

  .jsTabsContainer ul.tabs li:last-child a {
    border-top-right-radius: 2px;
  }
  


  .jsTabsContainer ul.tabs:before, ul.tabs:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }

  .jsTabsContainer ul.tabs:after {
    clear: both;
  }
</style>
{% endif %}
{% endfor %}
{% endif %}
  {% if block-list-header contains "tabs-advanced" %}
{% for block in section.blocks %}
{% if block.type == "tabs-advanced" %}

{% capture custom-color-heading-tabs %}
{% if block.settings.title_color %}{{ block.settings.title_color }};{% else %}{% if section.settings.custom_colors and section.settings.title_color %}{{ section.settings.title_color }};{% else %}{% if settings.custom_colors_tabs %}{{ settings.title_color_tabs }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-tab-tabs %}
{% if block.settings.tab_color %}{{ block.settings.tab_color }};{% else %}{% if section.settings.custom_colors and section.settings.tab_color %}{{ section.settings.tab_color }};{% else %}{% if settings.custom_colors_tabs %}{{ settings.tab_color_tabs }}{% else %}{{ settings.color_body_text }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-tab-active-tabs %}
{% if block.settings.tab_active_color %}{{ block.settings.tab_active_color }};{% else %}{% if section.settings.custom_colors and section.settings.tab_active_color %}{{ section.settings.tab_active_color }};{% else %}{% if settings.custom_colors_tabs %}{{ settings.tab_active_color_tabs }}{% else %}{{ settings.color_text }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-bg-tabs %}
{% if block.settings.bg_color %}
{{ block.settings.bg_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.bg_color %}
{{ section.settings.bg_color }}
{% else %}
{% if settings.custom_colors_tabs %}{{ settings.bg_color_tabs }}{% endif %}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-bg2-tabs %}
{% if block.settings.bg2_color %}
{{ block.settings.bg2_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.bg2_color %}
{{ section.settings.bg2_color }}
{% else %}
{% if settings.custom_colors_tabs %}{{ settings.bg2_color_tabs }}{% endif %}
{% endif %}
{% endif %}
{% endcapture %}

  <style>
  .tab-section {display: inline-block !important;}
  .tab-pane-container { white-space: nowrap; transition: all 1s ease; }
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
  
  
}
  
  
/* Nav */
    
    
.tabs nav {
	text-align: center;
}

.tabs nav ul li a.tab-title {
  font-size: {% if section.settings.description_position == "below" %}1em{% else %}.6em{% endif %};
}
    
    
.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
    {% if block.settings.use_max_width %}max-width: {{ block.settings.max_width }}px;{% endif %}
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li a.tab-current {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs nav a:focus {
	outline: none;
}
    

  
    /*****************************/
/* Triangle and line */
/*****************************/

.tabs.tabs-style-linetriangle nav a {
	overflow: visible;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
  color: {{ custom-color-tab-tabs }};
}

.tabs-style-linetriangle nav a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

    .tabs-style-linetriangle nav li.tab-current a {
        color: {{ custom-color-tab-active-tabs }};

    }
    
.tabs-style-linetriangle nav li.tab-current a:after, 
.tabs-style-linetriangle nav li.tab-current a:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-linetriangle nav li.tab-current a:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: #fff;
}

.tabs-style-linetriangle nav li.tab-current a:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: rgba(0,0,0,0.2);
}

@media screen and (max-width: 58em) {
	.tabs-style-linetriangle nav {
		font-size: 0.6em;
	}
}
  
/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #fff;
}

.tabs-style-linemove nav li:first-child::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: {{ custom-color-tab-active-tabs }};
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Move the line */


.tabs-style-linemove nav a {
	padding: 1em 0;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove nav li.tab-current a {
	color: {{ custom-color-tab-active-tabs }};
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

.tabs-style-linemove nav a span {
	font-weight: 700;
}

  

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	.tabs nav a.tab-icon span {
		display: none;
	}
	.tabs nav a:before {
		margin-right: 0;
	}
}
  
  /*****************************/
/* Falling Icon, from http://vintageproductions.eu/grid/interactivity/ */ 
/*****************************/

.tabs-style-iconfall {
	overflow: visible;
}

.tabs-style-iconfall nav a {
  width: 100%;
	display: inline-block;
	overflow: visible;
	padding: 1em 0 2em;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
	transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-iconfall nav a:hover,
.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav li.tab-current a {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-iconfall nav a span {
	font-weight: 700;
}

.tabs-style-iconfall nav li::before {
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 4px;
	background: {{ custom-color-tab-active-tabs }};
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
}

.tabs-style-iconfall nav li.tab-current::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tabs-style-iconfall .tab-icon::before {
	display: block;
	margin: 0 0 0.35em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
	pointer-events: none;
}

.tabs-style-iconfall nav li.tab-current .tab-icon::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 58em) {
	.tabs-style-iconfall nav li .tab-icon::before {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

  
  /*****************************/
/* Underline */
/*****************************/

.tabs-style-underline nav {
	background: #fff;
}

.tabs-style-underline nav a {
	padding: 0.25em 0 0.5em;
	border-left: 1px solid #e7ecea;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
   	color: {{ custom-color-tab-tabs }};
}

.tabs-style-underline nav li:last-child a {
	border-right: 1px solid #e7ecea;
}

.tabs-style-underline nav li a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: {{ custom-color-tab-active-tabs }};
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}

.tabs-style-underline nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-underline nav a span {
	font-weight: 700;
}
  
  
/*****************************/
/* Circle */
/*****************************/

.tabs-style-circle {
	overflow: visible;
}

.tabs-style-circle nav li::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
	width: 120px;
	height: 120px;
	border: 1px solid {{ custom-color-tab-active-tabs }};
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

@media screen and (max-width: 58em) {
		.tabs-style-circle nav li::before {
		margin: -25px 0 0 -25px;
		width: 50px;
		height: 50px;
	}
}
    
    {% if section.settings.description_position == "default" %}
    	.tabs-style-circle nav li::before {
		margin: -25px 0 0 -25px;
		width: 50px;
		height: 50px;
	}
    {% endif %}

.tabs-style-circle nav li.tab-current::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tabs-style-circle nav a {
	overflow: visible;
	color: {{ custom-color-tab-tabs }};
	font-weight: 700;
	font-size: 0.9em;
	line-height: 1.1;
	-webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
	transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
  padding-top: 25px;
    padding-bottom: 25px;
}

.tabs-style-circle nav a span {
	display: inline-block;
}

.tabs-style-circle nav a span,
.tabs-style-circle .tab-icon::before {
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a:hover,
.tabs-style-circle nav a:focus {
	color: #4a4a4b;
}

.tabs-style-circle nav li.tab-current a {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-circle nav li.tab-current a span {
	-webkit-transform: translate3d(0,4px,0);
	transform: translate3d(0,4px,0);
}

.tabs-style-circle .tab-icon::before {
	display: block;
	margin: 0;
	pointer-events: none;
}

.tabs-style-circle nav li.tab-current .tab-icon::before {
	-webkit-transform: translate3d(0,-4px,0);
	transform: translate3d(0,-4px,0);
}

/*****************************/
/* Shape */
/*****************************/

.tabs-style-shape {
	max-width: 1200px;
}

.tabs-style-shape nav ul li {
	margin: 0 3em;
}

.tabs-style-shape nav ul li:first-child {
	margin-left: 0;
}

.tabs-style-shape nav ul li.tab-current {
	z-index: 100;
}

.tabs-style-shape nav li a {
	overflow: visible;
	margin: 0 -3em 0 0;
	padding: 0;
	color: #fff;
	font-weight: 500;
}

.tabs-style-shape nav li:first-child a span {
	padding-left: 2em;
	border-radius: 30px 0 0 0;
}

.tabs-style-shape nav li:last-child a span {
	padding-right: 2em;
	border-radius: 0 30px 0 0;
}

.tabs-style-shape nav li a svg {
	position: absolute;
	left: 100%;
	margin: 0;
	width: 3em;
	height: 100%;
	fill: #bdc2c9;
}

.tabs-style-shape nav li a svg:nth-child(2),
.tabs-style-shape nav li:last-child a svg {
	right: 100%;
	left: auto;
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}

.tabs-style-shape nav li a span {
	display: block;
	overflow: hidden;
	padding: 0.65em 0;
	background-color: #bdc2c9;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tabs-style-shape nav li a:hover span {
	background-color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-shape nav li a:hover svg {
	fill: {{ custom-color-tab-active-tabs }};
}

/* Make only shape clickable */
.tabs-style-shape nav li a svg {
	pointer-events: none;
}

.tabs-style-shape nav li a svg use {
	pointer-events: auto;
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
	-webkit-transition: none;
	transition: none;
}

.tabs-style-shape nav li.tab-current a span {
	background: #fff;
}

.tabs-style-shape nav li.tab-current a svg {
	fill: #fff;
}

.tabs-style-shape .content-wrap {
	background: #fff;
}

@media screen and (max-width: 58em) {
	.tabs-style-shape nav ul {
		display: block;
		padding-top: 1.5em;
	}
	.tabs-style-shape nav ul li {
		display: block;
		margin: -1.25em 0 0;
		-webkit-flex: none;
		flex: none;
	}
	.tabs-style-shape nav ul li a {
		margin: 0;
	}
	.tabs-style-shape nav ul li svg {
		display: none;
	}
	.tabs-style-shape nav ul li a span {
		padding: 1.25em 0 2em !important;
		border-radius: 30px 30px 0 0 !important;
		box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
		line-height: 1;
	}
	.tabs-style-shape nav ul li:last-child a span {
		padding: 1.25em 0 !important;
	}
	.tabs-style-shape nav ul li.tab-current {
		z-index: 1;
	}
}

/*****************************/
/* Line Box */
/*****************************/

.tabs-style-linebox nav ul li {
	margin: 0 0.5em;

}

.tabs-style-linebox nav a {
	padding: 0 1.5em;
	color: #74777b;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-linebox nav li.tab-current a {
	color: #fff;
}

.tabs-style-linebox nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #d2d8d6;
	content: '';
	-webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, transform 0.3s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
	transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs-style-linebox nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
	background: {{ custom-color-tab-active-tabs }};
}

@media screen and (max-width: 58em) {
	.tabs-style-linebox nav ul {
		display: flex;
		box-shadow: none;
          flex-wrap: nowrap;
	}
	.tabs-style-linebox nav ul li {
		display: block;
       flex-grow: 1;
		-webkit-flex: none;
		flex: none;
	}
}
  
  
/*****************************/
/* Trapezoid, based on http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/ */
/*****************************/ 

.tabs-style-tzoid {
	max-width: 1200px;
}

.tabs-style-tzoid nav {
	padding: 0 1em;
}

.tabs-style-tzoid nav ul li {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tabs-style-tzoid nav ul li a {
	padding: 0 1.5em 0 0.3em;
	color: #0d9564;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

@media screen and (max-width: 54em) {
	.tabs-style-tzoid nav ul li a {
		padding: 0 0.5em 0 0.3em;
	}
}

.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus {
	color: #fff;
}

.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover {
{{ custom-color-tab-active-tabs }};
}

.tabs-style-tzoid nav ul li a span {
	font-weight: 500;
	font-size: 0.75em;
}

.tabs-style-tzoid nav ul li a::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	outline: 1px solid transparent;
	border-radius: 10px 10px 0 0;
	background: {{ custom-color-tab-active-tabs }};
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.05);
	content: '';
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tabs-style-tzoid nav ul li.tab-current a::after,
.tabs-style-tzoid .content-wrap {
	background: #fff;
	box-shadow: none;
}


  
</style>
{% endif %}
{% endfor %}
{% endif %}

{% schema %}
  {
    "name": "Product",
  "max_blocks": 1,
"class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
{
"type": "header",
"content": "Thumbnail"
},
{
        "type": "select",
        "id": "thumb_image_size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ],
        "default": "small"
      },
{
        "type": "select",
        "id": "thumbnail_position",
        "label": "Position",
        "options": [
          {
            "value": "below",
            "label": "Below"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "below"
      },
{
        "type": "checkbox",
        "id": "enable_thumb_slide",
        "label": "Use Slider",
        "default": true
      },
{
"type": "header",
"content": "Description"
},
{
        "type": "select",
        "id": "description_position",
        "label": "Position",
        "options": [
          {
            "value": "default",
            "label": "Default"
          },
          {
            "value": "below",
            "label": "Below"
          }
        ],
        "default": "default"
      }

		
    ],
"blocks": [
{
      "type": "tabs-basic",
      "name": "Tabs (Basic)",
"limit":1,
      "settings": [
{
"type": "header",
"content": "Product Tabs",
"info": "Use <H3> selector in description for tabs."
},
{
        "type": "select",
        "id": "tab_position",
        "label": "Position",
        "options": [
          {
            "value": "default",
            "label": "With Description"
          },
          {
            "value": "below",
            "label": "Below"
          }
        ],
        "default": "default"
      },
{
        "type": "select",
        "id": "tab_alignment",
        "label": "Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
		  {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
{
        "type": "color",
        "id": "accordion_color",
        "label": "Background",
        "default": "#eee"
      },
      {
        "type": "color",
        "id": "accordion_hover_color",
        "label": "Background (Active)",
        "default": "#ddd"
      },
		{
        "type": "color",
        "id": "accordion_text_color",
        "label": "Text",
        "default": "#444"
      },
		{
        "type": "color",
        "id": "accordion_text_hover_color",
        "label": "Text (Active)",
        "default": "#444"
      },
{
        "type": "color",
        "id": "accordion_border_color",
        "label": "Border",
        "default": "#dfdfdf"
      }
					]				
},
{
      "type": "tabs-accordion",
      "name": "Tabs (Accordion)",
"limit":1,
      "settings": [
{
"type": "header",
"content": "Product Tabs",
"info": "Use <H3> selector in description for accordions."
},
{
        "type": "select",
        "id": "tab_position",
        "label": "Position",
        "options": [
          {
            "value": "default",
            "label": "With Description"
          },
          {
            "value": "below",
            "label": "Below"
          }
        ],
        "default": "default"
      },
{
        "type": "select",
        "id": "tab_alignment_1",
        "label": "Alignment (Title)",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
		  {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      },
{
        "type": "select",
        "id": "tab_alignment_2",
        "label": "Alignment (Open/Closed)",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
		  {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
{
        "type": "checkbox",
        "id": "one_accordion",
        "label": "Open one at a time",
        "default": true
      },
{
        "type": "color",
        "id": "accordion_color",
        "label": "Background",
        "default": "#eee"
      },
      {
        "type": "color",
        "id": "accordion_hover_color",
        "label": "Background (Active)",
        "default": "#ddd"
      },
		{
        "type": "color",
        "id": "accordion_text_color",
        "label": "Text",
        "default": "#444"
      },
		{
        "type": "color",
        "id": "accordion_text_hover_color",
        "label": "Text (Active)",
        "default": "#444"
      }
					]				
},
{
      "type": "tabs-advanced",
      "name": "Tabs (Advanced)",
"limit":1,
      "settings": [
{
"type": "header",
"content": "Product Tabs",
"info": "Use <H3> selector in description for tabs."
},
{
        "type": "select",
        "id": "tab_position",
        "label": "Position",
        "options": [
          {
            "value": "default",
            "label": "With Description"
          },
          {
            "value": "below",
            "label": "Below"
          }
        ],
        "default": "default"
      },
{
        "type": "select",
        "id": "tab_animation",
        "label": "Animation",
        "options": [
          {
            "value": "slide",
            "label": "Slide"
          },
          {
            "value": "fade",
            "label": "Fade"
          }
        ],
        "default": "slide"
      },
{
      "type": "select",
      "id": "tab_style",
      "label": "Style",
      "default": "underline",
      "options": [
        {
          "label": "Triangle",
          "value": "linetriangle"
        },
		{
          "label": "Underline",
          "value": "underline"
        },
		{
          "label": "Line Box",
          "value": "linebox"
        }
      ]
    },


		
		{
        "type": "color",
        "id": "tab_color",
        "label": "Title",
        "default": "#000"
		},
		{
        "type": "color",
        "id": "tab_active_color",
        "label": "Title (Active)",
        "default": "#9a3939"
		}
					]				
}
]
  }
{% endschema %}
