{% capture custom-color-text-shelf %}
{% if section.settings.custom_colors and section.settings.color_text %}
{{ section.settings.color_text }};
{% else %}
{{ settings.color_text_shelf }}
{% endif %}
{% endcapture %}

{% capture custom-color-bg-shelf %}
{% if section.settings.custom_colors and section.settings.color_bg %}
{{ section.settings.color_bg }};
{% else %}
{{ settings.color_bg_shelf }};
{% endif %}
{% endcapture %}
{% if section.settings.message %}
    {% if section.settings.home_page_only == false or template.name == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ custom-color-bg-shelf }}
        }

        .announcement-bar--link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ custom-color-text-shelf }};
        }
      </style>

      {% if section.settings.message_link == blank %}
        <div class="announcement-bar">
      {% else %}
        <a href="{{ section.settings.message_link }}" class="announcement-bar announcement-bar--link">
      {% endif %}

        <p class="announcement-bar__message">{{ section.settings.message_text }}</p>

      {% if section.settings.message_link == blank %}
        </div>
      {% else %}
        </a>
      {% endif %}

    {% endif %}
  {% endif %}

{% schema %}
  {
    "name": "Shelf",
    "settings":  [
{
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
		{
        "type": "checkbox",
        "id": "custom_colors",
        "label": "Override Section Colors",
        "default": false
		},
		      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      }
			]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
