{% comment %}ShopaFree{% endcomment %}
{% capture custom-color-heading-tabs %}
{% if block.settings.custom_colors and block.settings.title_color %}{{ block.settings.title_color }};{% else %}{% if section.settings.custom_colors and section.settings.title_color %}{{ section.settings.title_color }};{% else %}{% if settings.custom_colors_tabs %}{{ settings.title_color_tabs }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-tab-tabs %}
{% if block.settings.custom_colors and block.settings.tab_color %}{{ block.settings.tab_color }};{% else %}{% if section.settings.custom_colors and section.settings.tab_color %}{{ section.settings.tab_color }};{% else %}{% if settings.custom_colors_tabs %}{{ settings.tab_color_tabs }}{% else %}{{ settings.color_body_text }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-tab-active-tabs %}
{% if block.settings.custom_colors and block.settings.tab_active_color %}{{ block.settings.tab_active_color }};{% else %}{% if section.settings.custom_colors and section.settings.tab_active_color %}{{ section.settings.tab_active_color }};{% else %}{% if settings.custom_colors_tabs %}{{ settings.tab_active_color_tabs }}{% else %}{{ settings.color_text }}{% endif %}{% endif %}{% endif %}
{% endcapture %}

{% capture custom-color-bg-tabs %}
{% if block.settings.custom_colors and block.settings.bg_color %}
{{ block.settings.bg_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.bg_color %}
{{ section.settings.bg_color }}
{% else %}
{% if settings.custom_colors_tabs %}{{ settings.bg_color_tabs }}{% endif %}
{% endif %}
{% endif %}
{% endcapture %}

{% capture custom-color-bg2-tabs %}
{% if block.settings.custom_colors and block.settings.bg2_color %}
{{ block.settings.bg2_color }}
{% else %}
{% if section.settings.custom_colors and section.settings.bg2_color %}
{{ section.settings.bg2_color }}
{% else %}
{% if settings.custom_colors_tabs %}{{ settings.bg2_color_tabs }}{% endif %}
{% endif %}
{% endif %}
{% endcapture %}
<style>
  #shopify-section-{{ section.id }} {
   background-color: {{ custom-color-bg-tabs }};
     {% if section.settings.tabs_padding_vertical != 'default' %}
    {% if section.settings.tabs_padding_vertical == 'flush' %}
    padding-top:0px;
    padding-bottom:0px;
    {% elsif section.settings.tabs_padding_vertical == 'tiny' %}
    padding-top:15px;
    padding-bottom:15px;
    {% elsif section.settings.tabs_padding_vertical == 'small' %}
    padding-top:35px;
    padding-bottom:35px;
    {% elsif section.settings.tabs_padding_vertical == 'medium' %}
    padding-top:55px;
    padding-bottom:55px;
    {% elsif section.settings.tabs_padding_vertical == 'large' %}
    padding-top:105px;
    padding-bottom:105px;
    {% elsif section.settings.tabs_padding_vertical == 'ginormous' %}
    padding-top:155px;
    padding-bottom:155px;
    {% endif %}
    {% else %}
    {% if settings.tabs_padding_vertical == 'flush' %}
    padding-top:0px;
    padding-bottom:0px;
    {% elsif settings.tabs_padding_vertical == 'tiny' %}
    padding-top:15px;
    padding-bottom:15px;
    {% elsif settings.tabs_padding_vertical == 'small' %}
    padding-top:35px;
    padding-bottom:35px;
    {% elsif settings.tabs_padding_vertical == 'medium' %}
    padding-top:55px;
    padding-bottom:55px;
    {% elsif settings.tabs_padding_vertical == 'large' %}
    padding-top:105px;
    padding-bottom:105px;
    {% elsif settings.tabs_padding_vertical == 'ginormous' %}
    padding-top:155px;
    padding-bottom:155px;
    {% endif %}
    {% endif %}
    
    
    {% if section.settings.tabs_padding_horizontal != 'default' %}
    {% if section.settings.tabs_padding_horizontal == 'flush' %}
    padding-left:0px;
    padding-right:0px;
    {% elsif section.settings.tabs_padding_horizontal == 'tiny' %}
    padding-left:15px;
    padding-right:15px;
    {% elsif section.settings.tabs_padding_horizontal == 'small' %}
    padding-left:35px;
    padding-right:35px;
    {% elsif section.settings.tabs_padding_horizontal == 'medium' %}
    padding-left:55px;
    padding-right:55px;
    {% elsif section.settings.tabs_padding_horizontal == 'large' %}
    padding-left:105px;
    padding-right:105px;
    {% elsif section.settings.tabs_padding_horizontal == 'ginormous' %}
    padding-left:155px;
    padding-right:155px;
    {% endif %}
    {% else %}
    {% if settings.tabs_padding_horizontal == 'flush' %}
    padding-left:0px;
    padding-right:0px;
    {% elsif settings.tabs_padding_horizontal == 'tiny' %}
    padding-left:15px;
    padding-right:15px;
    {% elsif settings.tabs_padding_horizontal == 'small' %}
    padding-left:35px;
    padding-right:35px;
    {% elsif settings.tabs_padding_horizontal == 'medium' %}
    padding-left:55px;
    padding-right:55px;
    {% elsif settings.tabs_padding_horizontal == 'large' %}
    padding-left:105px;
    padding-right:105px;
    {% elsif settings.tabs_padding_horizontal == 'ginormous' %}
    padding-left:155px;
    padding-right:155px;
    {% endif %}
    {% endif %}
  }
{% if section.settings.show_hide == 'desktop' %}
@media screen and (max-width: 749px) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
{% elsif section.settings.show_hide == "mobile" %}
@media screen and (min-width: 750px) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
{% elsif section.settings.show_hide == "neither" %}
@media screen and (min-width: 1px) {
        #shopify-section-{{ section.id }} {
            display: none !important;
        }
    }
{% endif %}
</style>

<style>
  .tab-section {display: inline-block !important;}
  .tab-pane-container { white-space: nowrap; transition: all 1s ease; }
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
  
  
}
  {% if section.settings.icon_pos == "left" %}
  
  /* Icons */
.tab-icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
  font-size: {{ section.settings.icon_size }}px;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
  {% else %}
  
.tab-icon::before {
	z-index: 10;
	display: block;
	margin: 0.4em;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
  font-size: {{ section.settings.icon_size }}px;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

{% endif %}
  
/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
    {% if section.settings.use_max_width %}max-width: {{ section.settings.max_width }}px;{% endif %}
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li a.tab-current {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs nav a:focus {
	outline: none;
}
  
    /*****************************/
/* Triangle and line */
/*****************************/

.tabs-style-linetriangle nav a {
	overflow: visible;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-linetriangle nav a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

.tabs-style-linetriangle nav li.tab-current a:after, 
.tabs-style-linetriangle nav li.tab-current a:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-linetriangle nav li.tab-current a:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: #e7ecea;
}

.tabs-style-linetriangle nav li.tab-current a:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: rgba(0,0,0,0.2);
}

@media screen and (max-width: 58em) {
	.tabs-style-linetriangle nav {
		font-size: 0.6em;
	}
}
  
/*****************************/
/* Moving Line */
/*****************************/

.tabs-style-linemove nav {
	background: #fff;
}

.tabs-style-linemove nav li:last-child::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: {{ custom-color-tab-active-tabs }};
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* Move the line */
{% for block in section.blocks %}
  {% if forloop.first == true %}
  .tabs-style-linemove nav li:first-child.tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-{{ forloop.rindex }}00%,0,0);
	transform: translate3d(-{{ forloop.rindex }}00%,0,0);
}
  {% else %}
.tabs-style-linemove nav li:nth-child({% cycle 'group6': 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 %}).tab-current ~ li:last-child::before {
	-webkit-transform: translate3d(-{{ forloop.rindex }}00%,0,0);
	transform: translate3d(-{{ forloop.rindex }}00%,0,0);
}
  {% endif %}
{% endfor %}

.tabs-style-linemove nav a {
	padding: 1em 0;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s, -webkit-transform 0.3s; 
	transition: color 0.3s, transform 0.3s;
}

.tabs-style-linemove nav li.tab-current a {
	color: {{ custom-color-tab-active-tabs }};
	-webkit-transform: translate3d(0,8px,0);
	transform: translate3d(0,8px,0);
}

.tabs-style-linemove nav a span {
	font-weight: 700;
}

  

/* Fallback */
.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 479px) {
	.tabs nav a.tab-icon span {
		display: none;
	}
}
  
  /*****************************/
/* Falling Icon, from http://vintageproductions.eu/grid/interactivity/ */ 
/*****************************/

.tabs-style-iconfall {
	overflow: visible;
}

.tabs-style-iconfall nav a {
  width: 100%;
	display: inline-block;
	overflow: visible;
	padding: 1em 0 2em;
	color: #74777b;
	line-height: 1;
	-webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
	transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-iconfall nav a:hover,
.tabs-style-iconfall nav a:focus,
.tabs-style-iconfall nav li.tab-current a {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-iconfall nav a span {
	font-weight: 700;
}

.tabs-style-iconfall nav li::before {
	position: absolute;
	bottom: 1em;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 4px;
	background: {{ custom-color-tab-active-tabs }};
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	transition: transform 0.2s ease-in;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
}

.tabs-style-iconfall nav li.tab-current::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tabs-style-iconfall .tab-icon::before {
	display: block;
	margin: 0 0 0.35em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
	pointer-events: none;
}

.tabs-style-iconfall nav li.tab-current .tab-icon::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 58em) {
	.tabs-style-iconfall nav li .tab-icon::before {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
}

  
  /*****************************/
/* Underline */
/*****************************/

.tabs-style-underline nav {
	background: #fff;
}

.tabs-style-underline nav a {
	padding: 0.25em 0 0.5em;
	border-left: 1px solid #e7ecea;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.tabs-style-underline nav li:last-child a {
	border-right: 1px solid #e7ecea;
}

.tabs-style-underline nav li a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	background: {{ custom-color-tab-active-tabs }};
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0,150%,0);
	transform: translate3d(0,150%,0);
}

.tabs-style-underline nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-underline nav a span {
	font-weight: 700;
}
  
  
/*****************************/
/* Circle */
/*****************************/

.tabs-style-circle {
	overflow: visible;
}

.tabs-style-circle nav li::before {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -60px 0 0 -60px;
	width: 120px;
	height: 120px;
	border: 1px solid {{ custom-color-tab-active-tabs }};
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

@media screen and (max-width: 58em) {
	.tabs-style-circle nav li::before {
		margin: -40px 0 0 -40px;
		width: 80px;
		height: 80px;
	}
}

.tabs-style-circle nav li.tab-current::before {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.tabs-style-circle nav a {
	overflow: visible;
	color: #74777b;
	font-weight: 700;
	font-size: 0.9em;
	line-height: 1.1;
	-webkit-transition: color 0.3s cubic-bezier(0.7,0,0.3,1); 
	transition: color 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a span {
	display: inline-block;
}

.tabs-style-circle nav a span,
.tabs-style-circle .tab-icon::before {
	-webkit-transition: -webkit-transform 0.3s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.3s cubic-bezier(0.7,0,0.3,1);
}

.tabs-style-circle nav a:hover,
.tabs-style-circle nav a:focus {
	color: #4a4a4b;
}

.tabs-style-circle nav li.tab-current a {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-circle nav li.tab-current a span {
	-webkit-transform: translate3d(0,4px,0);
	transform: translate3d(0,4px,0);
}

.tabs-style-circle .tab-icon::before {
	display: block;
	margin: 0;
	pointer-events: none;
}

.tabs-style-circle nav li.tab-current .tab-icon::before {
	-webkit-transform: translate3d(0,-4px,0);
	transform: translate3d(0,-4px,0);
}

/*****************************/
/* Shape */
/*****************************/

.tabs-style-shape {
	max-width: 1200px;
}

.tabs-style-shape nav ul li {
	margin: 0 3em;
}

.tabs-style-shape nav ul li:first-child {
	margin-left: 0;
}

.tabs-style-shape nav ul li.tab-current {
	z-index: 100;
}

.tabs-style-shape nav li a {
	overflow: visible;
	margin: 0 -3em 0 0;
	padding: 0;
	color: #fff;
	font-weight: 500;
}

.tabs-style-shape nav li:first-child a span {
	padding-left: 2em;
	border-radius: 30px 0 0 0;
}

.tabs-style-shape nav li:last-child a span {
	padding-right: 2em;
	border-radius: 0 30px 0 0;
}

.tabs-style-shape nav li a svg {
	position: absolute;
	left: 100%;
	margin: 0;
	width: 3em;
	height: 100%;
	fill: #bdc2c9;
}

.tabs-style-shape nav li a svg:nth-child(2),
.tabs-style-shape nav li:last-child a svg {
	right: 100%;
	left: auto;
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}

.tabs-style-shape nav li a span {
	display: block;
	overflow: hidden;
	padding: 0.65em 0;
	background-color: #bdc2c9;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tabs-style-shape nav li a:hover span {
	background-color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-shape nav li a:hover svg {
	fill: {{ custom-color-tab-active-tabs }};
}

/* Make only shape clickable */
.tabs-style-shape nav li a svg {
	pointer-events: none;
}

.tabs-style-shape nav li a svg use {
	pointer-events: auto;
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
	-webkit-transition: none;
	transition: none;
}

.tabs-style-shape nav li.tab-current a span {
	background: #fff;
}

.tabs-style-shape nav li.tab-current a svg {
	fill: #fff;
}

.tabs-style-shape .content-wrap {
	background: #fff;
}

@media screen and (max-width: 58em) {
	.tabs-style-shape nav ul {
		display: block;
		padding-top: 1.5em;
	}
	.tabs-style-shape nav ul li {
		display: block;
		margin: -1.25em 0 0;
		-webkit-flex: none;
		flex: none;
	}
	.tabs-style-shape nav ul li a {
		margin: 0;
	}
	.tabs-style-shape nav ul li svg {
		display: none;
	}
	.tabs-style-shape nav ul li a span {
		padding: 1.25em 0 2em !important;
		border-radius: 30px 30px 0 0 !important;
		box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
		line-height: 1;
	}
	.tabs-style-shape nav ul li:last-child a span {
		padding: 1.25em 0 !important;
	}
	.tabs-style-shape nav ul li.tab-current {
		z-index: 1;
	}
}

/*****************************/
/* Line Box */
/*****************************/

.tabs-style-linebox nav ul li {
	margin: 0 0.5em;

}

.tabs-style-linebox nav a {
	padding: 0 1.5em;
	color: #74777b;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-linebox nav a:hover,
.tabs-style-linebox nav a:focus {
	color: {{ custom-color-tab-active-tabs }};
}

.tabs-style-linebox nav li.tab-current a {
	color: #fff;
}

.tabs-style-linebox nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #d2d8d6;
	content: '';
	-webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, transform 0.3s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
	transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.tabs-style-linebox nav li.tab-current a::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tabs-style-linebox nav a:hover::after,
.tabs-style-linebox nav a:focus::after,
.tabs-style-linebox nav li.tab-current a::after {
	background: {{ custom-color-tab-active-tabs }};
}

@media screen and (max-width: 58em) {
	.tabs-style-linebox nav ul {
		display: block;
		box-shadow: none;
	}
	.tabs-style-linebox nav ul li {
		display: block;
		-webkit-flex: none;
		flex: none;
	}
}
  
  
/*****************************/
/* Trapezoid, based on http://lea.verou.me/2013/10/slanted-tabs-with-css-3d-transforms/ */
/*****************************/ 

.tabs-style-tzoid {
	max-width: 1200px;
}

.tabs-style-tzoid nav {
	padding: 0 1em;
}

.tabs-style-tzoid nav ul li {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tabs-style-tzoid nav ul li a {
	padding: 0 1.5em 0 0.3em;
	color: #0d9564;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

@media screen and (max-width: 54em) {
	.tabs-style-tzoid nav ul li a {
		padding: 0 0.5em 0 0.3em;
	}
}

.tabs-style-tzoid nav ul li a:hover,
.tabs-style-tzoid nav ul li a:focus {
	color: #fff;
}

.tabs-style-tzoid nav ul li.tab-current a,
.tabs-style-tzoid nav ul li.tab-current a:hover {
{{ custom-color-tab-active-tabs }};
}

.tabs-style-tzoid nav ul li a span {
	font-weight: 500;
	font-size: 0.75em;
}

.tabs-style-tzoid nav ul li a::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	outline: 1px solid transparent;
	border-radius: 10px 10px 0 0;
	background: {{ custom-color-tab-active-tabs }};
	box-shadow: inset 0 -3px 3px rgba(0,0,0,0.05);
	content: '';
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.tabs-style-tzoid nav ul li.tab-current a::after,
.tabs-style-tzoid .content-wrap {
	background: #fff;
	box-shadow: none;
}


  
</style>

{% if section.settings.title != blank %}
<div class="section-header text-center">
	<h4 class="h2" style="color: {{ custom-color-heading-tabs }};">{{ section.settings.title }}</h4>{% comment %}ShopaFree{% endcomment %}
</div>
{% endif %}

<div class="tabs tabs-style-{{ section.settings.tab_style }}" data-section-id="{{ section.id }}" data-section-type="tabs">
  <nav>
		<ul>
		{% for block in section.blocks %} 
		<li id="{{ forloop.index }}">
          {% if section.settings.use_icons and section.settings.tab_style != "linetriangle" %}
          <a class="tab-icon fa fa-{{ block.settings.icon }}" href="#tab{% cycle 'group7': 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 %}" title="Tab {% cycle 'group8': 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 %}"><span style="font-weight:normal; font-size:1em;">{{ block.settings.tab }}</span></a>
          {% else %}
          <a style="font-weight:normal; font-size:1em;" href="#tab{% cycle 'group7': 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 %}" title="Tab {% cycle 'group8': 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15 %}">{{ block.settings.tab }}</a>
          {% endif %}
          </li>
		{% endfor %}
		</ul>
	</nav>
               
  
<div class="content-wrap">{% for block in section.blocks %}<section style="display:none"></section>{% endfor %}</div>

  
  <div style=""class="flexslider">
  <ul style=""class="slides">
    {% for block in section.blocks %}
		<li style="display:table;" class="slideo" {{block.shopify_attributes}}>
          
			{% if block.type == 'image' %}
          <div class="page-width feature-row" style="height: -webkit-fill-available; display: table; white-space: normal; padding:55px;">
  {% capture image_layout %}
    <div class="feature-row__item">
      {% if block.settings.image != blank %}
        {% capture img_id %}FeatureRowImage-{{ block.id }}{% endcapture %}
        {% capture wrapper_id %}FeatureRowImageWrapper-{{ block.id }}{% endcapture %}
        {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% include 'image-style' with image: block.settings.image, width: 545, height: 545, small_style: true, wrapper_id: wrapper_id, img_id: img_id %}
        <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js">
          <div style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
            <img id="{{ img_id }}"
                 class="feature-row__image lazyload"
                 src="{{ block.settings.image | img_url: '200x200' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.image.alt | escape }}">
          </div>
        </div>

        <noscript>
          {{ block.settings.image | img_url: '600x600', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
        </noscript>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </div>
  {% endcapture %}

  <div class="feature-row">
    {% if block.settings.layout == 'left' %}
      {{ image_layout }}
    {% endif %}

    <div class="feature-row__item feature-row__text feature-row__text--{{ block.settings.layout }}">
      {% if block.settings.title != blank %}
        <h2 class="h3" style="{% if block.settings.custom_colors %}color: {{ block.settings.heading_color }};{% endif %}">{{ block.settings.title }}</h2>{% comment %}ShopaFree{% endcomment %}
      {% endif %}
      {% if block.settings.text != blank %}
        <div class="rte-setting featured-row__subtext" style="{% if block.settings.custom_colors %}color: {{ block.settings.text_color }};{% else %}color: {{ settings.color_body_text }};{% endif %}">{{ block.settings.text }}</div>{% comment %}ShopaFree{% endcomment %}
      {% endif %}
      {% if section.block.button_label != blank and block.settings.button_link != blank %}
        <a href="{{ block.settings.button_link }}" class="btn"style="{% if block.settings.custom_colors %}color: {{ block.settings.btn_color }}; background-color: {{ block.settings.btnback_color }};{% endif %}">{% comment %}ShopaFree{% endcomment %}
          {{ section.block.button_label }}
        </a>
      {% endif %}
    </div>

    {% if block.settings.layout == 'right' %}
      {{ image_layout }}
    {% endif %}
  </div>
</div>
          
          
          
          {% elsif block.type == 'page' %}
              <div class="page-width feature-row" style="height: -webkit-fill-available; display: table; white-space: normal; padding:55px;">
            {% if block.settings.content_page != blank %}
              
              {{ pages[block.settings.content_page].content }}
            {% else %}
              <h4 class="toggle">Page title<span class="right icon-down-arrow"></span></h4>
              <ul class="toggle_list">
                <li><p>{{ 'homepage.onboarding.no_content' | t }}</p></li>
              </ul>
            {% endif %}
             </div>

          {% endif %}
		</li>
		{% endfor %}
    
    
  </ul>
    
</div>

</div>



{% schema %}
  {
    "name": "Tabs",
    "class": "index-section",
	  "max_blocks": 15,
    "settings": [
	{
      "type": "select",
      "id": "show_hide",
      "label": "Visible on Desktop/Mobile",
      "default": "both",
      "options": [
        {
          "label": "Show on Both",
          "value": "both"
        },
		{
          "label": "Hide on Mobile",
          "value": "desktop"
        },
        {
          "label": "Hide on Desktop",
          "value": "mobile"
        },
        {
          "label": "Hide on Both",
          "value": "neither"
        }
      ]
    },
	      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
	{
      "type": "select",
      "id": "tab_style",
      "label": "Tab Style",
      "default": "linemove",
      "options": [
        {
          "label": "Triangle",
          "value": "linetriangle"
        },
		{
          "label": "Moving Line",
          "value": "linemove"
        },
		{
          "label": "Underline",
          "value": "underline"
        },
		{
          "label": "Falling Icon",
          "value": "iconfall"
        },
		{
          "label": "Line Box",
          "value": "linebox"
        },
		{
          "label": "Circle",
          "value": "circle"
        }
      ]
    },
	{
        "type": "checkbox",
        "id": "use_max_width",
        "label": "Use max width?",
        "default": false
		},
	{
        "type": "range",
        "id": "max_width",
        "label": "Max Width",
        "min": 700,
        "max": 1600,
        "default": 1200,
		"step": 100,
        "unit": "px"
      },
		{
        "type": "checkbox",
        "id": "use_icons",
        "label": "Use Icons",
        "default": true
		},
	{
      "type": "select",
      "id": "icon_pos",
      "label": "Icon Position",
      "default": "above",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
		{
          "label": "Above",
          "value": "above"
        }
      ]
    },
{
        "type": "range",
        "id": "icon_size",
        "label": "Icon Size",
        "min": 20,
        "max": 100,
        "default": 40,
		"step": 10,
        "unit": "px"
      },
		{
        "type": "checkbox",
        "id": "custom_colors",
        "label": "Enable Custom Color",
        "default": false
		},
		{
        "type": "color",
        "id": "heading_color",
        "label": "Section Heading Color",
        "default": "#000"
		},
		{
        "type": "color",
        "id": "tab_color",
        "label": "Tab Title Color",
        "default": "#000"
		},
		{
        "type": "color",
        "id": "tab_active_color",
        "label": "Tab Title Color (Active)",
        "default": "#9a3939"
		},
		{
        "type": "color",
        "id": "bg2_color",
        "label": "Content Background Color",
        "default": "transparent"
		},
		{
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "transparent"
		},
		{
        "type": "header",
        "content": "Section Padding"
    	},
{
        "type": "select",
        "id": "tabs_padding_vertical",
        "label": "Vertical",
        "default": "default",
      "options": [
		{
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Flush",
          "value": "flush"
        },
        {
          "label": "Tiny",
          "value": "tiny"
        },
		{
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Ginormous",
          "value": "ginormous"
        }
]
},
{
        "type": "select",
        "id": "tabs_padding_horizontal",
        "label": "Horizontal",
        "default": "default",
      "options": [
		{
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Flush",
          "value": "flush"
        },
        {
          "label": "Tiny",
          "value": "tiny"
        },
		{
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Ginormous",
          "value": "ginormous"
        }
]
}
    ],
    "blocks": [
		{
      "type": "page",
      "name": "Page",
      "settings": [
		{
            "type": "text",
            "id": "tab",
            "label": "Heading",
            "default": "Tab"
          },
			{
  					"type": "text",
  					"id": "icon",
  					"label": "Icon",
  					"default":"circle-o",
  					"info": "[View the list of available icons](https://fortawesome.github.io/Font-Awesome/icons/)  Example: facebook"
  				},
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
		
      ]
    },
      {
        "type": "image",
        "name": "Text with image",
        "settings": [
          {
            "type": "text",
            "id": "tab",
            "label": "Heading",
            "default": "Tab"
          },
			{
  					"type": "text",
  					"id": "icon",
  					"label": "Icon",
  					"default":"circle-o",
  					"info": "[View the list of available icons](https://fortawesome.github.io/Font-Awesome/icons/)  Example: facebook"
  				},
          {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
		{
        "type": "checkbox",
        "id": "custom_colors",
        "label": "Enable Custom Colors",
        "default": false
		},
	{
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color",
        "default": "#000"
	},
	{
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#fff"
	},
	{
        "type": "color",
        "id": "btn_color",
        "label": "Button Text Color",
        "default": "#000"
		},
        {
        "type": "color",
        "id": "btnback_color",
        "label": "Button Back Color",
        "default": "#fff"
		},
	{
        "type": "color",
        "id": "bg_color",
        "label": "Section Background Color",
        "default": "transparent"
	}
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
